@media screen and (max-width:480px){
    .contain{
        width: 340px;
    }

    .texthead{
        font-size: 20px;
        font-weight: 500;
        font-family: 'Segoe UI', sans-serif;
    }

    .bttn{
        width: 80%;
        height: 30px;
    }

    .score{
        width: 250px;
        height: 50px;
    }
}